/**
* donate.css
**/

/* ---------
PayPal button
--------- */
.paypal_btn {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 6px 30px;
	border: 0.15em solid ##46d96c;
	border-radius: 20px;
	background: #ffca76;
	background: linear-gradient(to bottom, #ffca76 5%, #fffbf3 100%);
	height: auto;
	width: auto;
	color: #3300FF;;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
	font-size: 18px;
	box-shadow: 0.2em 0.2em 0em 0em #899599;
}

.paypal_btn:hover {
	background: #fffbf3;
	background: linear-gradient(to bottom, #fffbf3 5%, #ffca76 100%);
}

.paypal_btn:before {
	content: "\f1ed";
	font-family: FontAwesome;
	padding-right: 10px;
	font-size: 16px;
}
